@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css o el archivo de estilos principal */
/*@font-face {
    font-family: 'Tenor Sans';
    src: url('../public/fonts/bx6ANxqUneKx06UkIXISn3F4Cl2I.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }*/
/* Fuente Satisfy */
@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/rP2Hp2yn6lkG50LoCZOIHQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    font-family: "Tenor Sans", sans-serif;
  }

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c5e4b5;
    border-radius: 90px;
}

h2, input, textarea {
    font-family: "Tenor Sans", sans-serif; 
}

.scroll-to-top {
    padding-left: 20px !important;
}

.scroll-to-top:hover {
    background: #c5e4b5 ;
}  

.clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 70%);
    /* Ajusta los valores para obtener el efecto deseado */
}

@layer utilities {
    .navlink {
        @apply hover:text-dark-green cursor-pointer transition-all duration-300 relative
    }
    .navlink::after{
        @apply content-[''] bg-dark-green h-[2px] w-[0%] absolute -left-0 -bottom-0 duration-300 rounded-full
    }
    .navlink:hover::after{
        @apply w-[80%]
    }
    .menubar {
        @apply h-[2px] transition-all duration-700
    }
    button {
        @apply bg-dark-green hover:bg-dark-green text-white transition-colors duration-300 px-[42px] py-2 rounded-3xl text-[20px] my-[30px]
    }
    h2 {    
        @apply text-xl font-semibold
    }
    .title {
        @apply text-3xl font-semibold relative text-dark-green
    }
    .title::after {
        @apply content-[''] bg-dark-green h-[2px] w-[80px] absolute -left-2 -bottom-1 duration-300 rounded-full
    }
    .line {
        @apply w-4 h-[2px] bg-dark-green transition-all duration-700
    }
    input {
        @apply w-full lg:my-2 my-4 rounded-lg px-4 py-2 border-gray-200 text-xl text-slate-400
    }

}